.nav-header {
    border-bottom: 1px solid @grey-200;

    .header-logo {
        display: flex;
        align-items: center;

        svg {
            height: 55px;
        }

        .logotype {
            height: 24px;
        }
    }

    .login-box {
        display: flex;
        justify-content: flex-end;

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            color: @grey-300;
            font-weight: @font-weight-bold;
        }

        .search-box {
            border-left: 1px solid @grey-200;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}
