.hero {
    .hero-search {
        //TODO : extract this and better it
        input {
            width: 100%;
            border: 2px solid @grey-200;
            padding: @spacing-md;
        }
    }

    .hero-news {
        display: flex;
        align-items: center;

        padding: @spacing-hg;

        min-height: 400px;
        background-position: center center;
        background-size: cover;
    }
}